@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 1121px;
    margin: 0 auto;
    padding: 96px 0px;
}

.row {
    padding: 32px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
}
.section__title {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 16px 0px;
    line-height: 72px;
    letter-spacing: 1.2px;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    max-width: 576px;
}

/* 

NAVIGATION BAR 

*/

nav {
  height: 92px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0px 0px 12px;
    padding: 0px 0px 2px 0px;
}

.nav__links {
    justify-content: flex-end;
}

.nav__link {
    margin: 0px 24px 0px 24px;
    text-decoration: none;
    font-size: 18px;
    color: #1a202c;
    font-weight: bold;
    padding: 0px 16px 0px 16px;
}

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 32px;
    background-color: #6415ff;
    color: #ffff;
    margin: 8px 0px;
    padding: 12px 32px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* 

HEADER 

*/

.header__row {
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
}

.header__description--title,
.header__description--para,
.header__email,
.header__customers--title,
.header__customers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 448px;
}

.header__description--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #1a202c;
    max-width: 400px;
    display: block;
}

.purple {
    color: #6415ff;
}

.header__description--para {
    font-size: 16px; 
    line-height: 24px;
    margin: 32px 0px 32px 0px;
    color: #243e63;
}

.header__email--input {
    padding: 20px 192px 20px 32px;
    background-color: #ffffff;
    border-radius: 32px;
    border: 2px solid;
    color: rgb(229, 231, 235);
    height: 68px;
    width: 448px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.header__email--btn {
    background-color: #6415ff;
    border: 2px solid #6415ff;
    padding: 12px 32px;
    color: #ffffff;
    font-size: 16px;
    margin: 8px;
    border-radius: 32px;
    position: absolute;
    margin-left: 286px;
}

.header__customers--title {
    margin: 48px 0px 0px;
    font-size: 12px;
    color: #a0aec0;
}

.header__customers {
    margin: 16px 0px 0px 0px;
    padding: 0px 64px 0px 0px;
    color: rgb(36, 62, 99);
    opacity: 0.5;
}

.header__img--wrapper {
    margin-left: 64px;
}

.header__img {
    width: 512px;
}

/* 

FEATURES 

*/

.features__row {
    display: flex;
    flex-direction: column;
}

.section__tag,
.section__title,
.section__para {
    text-align: center;
}


.features {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    padding: 32px 24px 24px 32px;
    width: calc(100%/3);
    height: 213px;
}

.feature__row {
    display: flex;
}

.feature__img--wrapper {
    border: 1px solid rgb(229, 231, 235);
    height: 66px;
    width: 66px;
    border-radius: 500px;
    padding: 16px;
}

.feature__img {
    height: 24px;
    width: 24px;
    margin: 4px 4px 4px 4px;
}

.feature__text {
    margin: 8px 0px 0px 16px;
}

.feature__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
}

.feature__para {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 32px;
    margin-top: 16px;
}

/* 

QUALITY 

*/

.quality__row {
    height: 100%;
    max-height: 422px;
    width: 100%;
    max-width: calc(1200px/2);
    align-items: center;
    justify-content: space-between;
}

.quality__description {
    display: block;
    align-items: center;
    justify-content: left;
    height: 422px;
    width: 100%;
    max-width: 576px;
    margin: 0px 64px 0px 0px;
    padding: 4px 0px 4px 0px;
}
.section__tag,
.section__title,
.section__para,
.btn {
    display: block;
    text-align: left;
}

.section__title {
    line-height: 68px;
    height: 180px;
}

.section__para {
    line-height: 29.25px;
    height: 117px;
}

.btn {
    display: inline-block;
    background-color: #6415ff;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #6415ff;
    border-radius: 500px;
    font-weight: 700;
    height: 41px;
    width: 141.688px;
    margin: 32px 0px 0px 0px;
    padding: 12px 32px 12px 32px;
    transition: 300ms all ease;
    text-wrap: nowrap;
}

.quality__img--wrapper {
    display: flex;
}

.quality__img {
    height: 301.844px;
    width: 470.656px;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    margin: 56px 56px 56px 56px;
    z-index: 2;
}

/* 

STEPS 

*/

.steps__img {
    display: block;
    width: 560.5px;
    height: 319.844px;
}

.steps__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 604px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
}

.steps__list {
    height: 328px;
    width: 496.5px;
}

.step {
    display: flex;
    align-items: flex-start;
    height: 88px;
    margin: 4px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    display: block;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 100%;
    max-width: 320px;
    color: #243e63;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
}

.step__para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-block-start: 12px;
    margin-top: 12px;
    height: 56px;
}

/* 

VALUES 

*/

.values__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__title {
    letter-spacing: 1.2px;
    height: 120px;
    line-height: 60px;
    margin: 16px 0px 32px 0px;
    margin-block-start: 16px;
    margin-block-end: 32px;
}

.values__description {
    display: flex;
    flex-direction: column;
    padding: 32px 64px 32px 0px;
    height: 675.25px;
    width: 100%;
    max-width: 560.5px;
}

.values__list {
    display: flex;
    flex-direction: row;
    height: 188px;
    width: 100%;
    max-width: 496.5px;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 156px;
    width: 100%;
    max-width: 208px;
    margin: 32px 32px 0px 0px;
}

.value__title {
    display: flex;
    align-items: center;
    height: 36px;
}

.value__name {
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    width: 100%;
    max-width: 103.5px;
    margin-left: 12px;
}

.value__para {
    font-size: 16px;
    line-height: 26px;
    color: #718096;
    height: 104px;
    margin-top: 16px;
}

.fa-solid {
    color: #243e63;
    height: 20px;
    width: 20px;
}

.value__btn {
    display: flex;
    flex-direction: column;
}

.value__img--wrapper1 {
    background-color: rgb(154, 230, 180);
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.value__img--wrapper2 {
    background-color: #feb2b2;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.values__img--wrapper {
    max-width: 560.5px;
}

.values__img {
    height: 432.906px;
    width: 100%;
}

/* 

PRICING 

*/

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.pricing__title {
    margin: 16px 0px 16px 0px;
}

.pricing__para {
    width: 100%;
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 341.672px;
}

.plan--personal {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(229, 231, 235);
    color: rgb(26, 32, 44);
    margin: 64px 32px 0px 0px;
    padding: 8px 32px 0px 32px;
    height: 603.5px;
}

.plan--business {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(229, 231, 235);
    color: rgb(26, 32, 44);
    margin: 64px 32px 0px 0px;
    padding: 8px 32px 0px 32px;
    height: 603.5px;
}

.plan--enterprise {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(229, 231, 235);
    color: rgb(26, 32, 44);
    margin: 64px 32px 0px 0px;
    padding: 8px 32px 0px 32px;
    height: 603.5px;
}

.plan__stripe {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 8px;
    width: 100%;
    max-width: 341.672px;
}

.plan__name,
.plan__price,
.plan__duration,
.plan__target,
.plan__feature,
.plan__button {
    text-align: center;
}

.plan__top {
    height: 208.5px;
    width: 100%;
    max-width: 277.672px;
    line-height: 26px;
    padding: 32px 0px 32px 0px;
    text-transform: uppercase;
}

.plan__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
    color: rgb(26, 32, 44);
}

.plan__price {
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    margin: 4px 0px 4px 0px;
}

.plan__duration {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: rgb(160, 174, 192);
}

.plan__middle {
    border: 2px solid rgb(229, 231, 235);
    height: 274px;
    width: 341.672px;
    margin: 0px -32px 0px -32px;
    padding: 32px 32px 32px 32px;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.plan__feature {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    color: rgb(113, 128, 150);
}

.plan__bottom {
    height: 113px;
    padding: 32px 32px 32px 32px;
}

.plan__button {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 16px 32px 16px 32px;
    text-transform: uppercase;
    transition: 300ms all ease;
    width: 213.672px;
}


/* 

TESTIMONIALS 

*/

.testimonials__row,
.testimonials__description {
    display: flex;
}

.testimonials__row {
    height: 580.25px;
    width: 100%;
    max-width: 1121px;
    align-items: center;
    justify-content: space-between;
}

.testimonials__img {
    height: 271.781px;
    width: 100%;
    max-width: 448.391px;
}

.testimonials__description {
    flex-direction: column;
    align-items: flex-start;;
    height: 580.25px;
    width: 672.594px;
    padding-left: 64px;
}

.testimonial__tag,
.testimonials__title,
.testimonials__para,
.testimonial {
    width: 100%;
    max-width: 608.594px;
}
.testimonial__tag,
.testimonials__title,
.testimonials__para,
.testimonial__rating,
.testimonial__title,
.testimonial__para,
.testimonial__profile--img,
.testimonial__details {
    display: block;
}

.testimonials__title {
    text-wrap: nowrap;
    line-height: 60px;
    margin: 16px 0px 24px 0px;
}

.testimonial {
    margin-top: 40px;
    height: 332.5px;
}

.testimonial__rating {
    height: 22px;
    width: 606.594px;
    margin: 4px 2px 0px 0px;
}

.fa-star {
    display: inline-block;
    color: rgb(246, 173, 85);
    font-weight: 900;
    height: 20px;
    line-height: 16px;
    width: 20px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(74, 85, 104);
    line-height: 32.5px;
    margin-top: 16px;
}

.testimonial__para {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    height: 130px;
    margin: 16px 0px 32px 0px;
    color: rgb(74, 85, 104);
}

.testimonial__bottom,
.testimonial__profile {
    display: flex;
}

.testimonial__bottom {
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.testimonial__profile {
    align-items: center;
}

.testimonial__profile--img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.testimonial__details {
    box-sizing: border-box;
    height: 56.5px;
    width: 144.781px;
    margin-left: 24px;
}

.testimonial__name,
.testimonial__role {
    display: block;
}

.testimonial__name {
    font-size: 20px;
    font-weight: 700;
    color: rgb(74, 85, 104);
    line-height: 32.5px;
}

.testimonial__role {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(124, 139, 161);
}

.testimonial__btns {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    width: 144.5px;
}

.testimonial__btn

.btn--left

.btn--right

.divider

/* 

START 

*/

