@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

.nav {
  height: 160px;
  display: flex;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.nav__logo--img {
    width: 40px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #1a202c;
    font-weight: bold;
    padding: 8px;
}