@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    padding: 32px 32px;
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
  height: 92px;
  display: flex;
}

.nav__logo--img {
    width: 40px;
}

.nav__link {
    margin: 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #1a202c;
    font-weight: bold;
    padding: 0 0 0 4px;
}

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 24px;
    margin: 8px 0px;
    padding: 12px 32px;
}

.nav__link:hover {
    text-decoration: underline;
}