@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0px;
}

.row {
    padding: 32px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
  height: 92px;
  display: flex;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
    padding: 0px 0px 2px;
}

.nav__links {
    margin-left: auto;
}

.nav__link {
    margin: 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #1a202c;
    font-weight: bold;
    padding: 0px 16px 0px 16px;
}

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 24px;
    background-color: #6415ff;
    color: #ffff;
    margin: 8px 0px;
    padding: 12px 32px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* HEADER */

.header__description--title {
    font-size: 30px;
    color: #1a202c;
}

.purple {
    color: #6415ff;
}

.header__description--para {
   width: 100%;
   max-width: 48vw;
   font-size: 16px;
   margin: 20px 0px;
   color: #243e63;
}