@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0px;
}

.row {
    padding: 32px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
  height: 92px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 12px;
    padding: 0px 0px 2px;
}

.nav__links {
    margin-left: 400px;
}

.nav__link {
    margin: 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #1a202c;
    font-weight: bold;
    padding: 0px 16px 0px 16px;
}

.nav__link--primary {
    border: 2px solid #6415ff;
    border-radius: 32px;
    background-color: #6415ff;
    color: #ffff;
    margin: 8px 0px;
    padding: 12px 32px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* HEADER */

.header__row {
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
}

.header__description--title,
.header__description--para,
.header__email,
.header__customers--title,
.header__customers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 448px;
}

.header__description--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #1a202c;
    max-width: 400px;
    display: block;
}

.purple {
    color: #6415ff;
}

.header__description--para {
    font-size: 16px;
    margin: 20px 0px;
    color: #243e63;
}

.header__email--input {
    padding: 20px 192px 20px 32px;
    background-color: #ffffff;
    border-radius: 32px;
    border: 2px solid;
    color: rgb(229, 231, 235);
}

.header__email--btn {
    background-color: #6415ff;
    border: 2px solid #6415ff;
    padding: 12px 32px;
    color: #ffffff;
    font-size: 16px;
    margin: 8px;
    border-radius: 32px;
    position: absolute;
    margin-left: 224px;
}

.header__customers--title {
    margin: 48px 0px 0px;
    font-size: 12px;
    color: #a0aec0;
}

.header__customers {
    margin: 16px 0px 0px 0px;
    padding: 0px 64px 0px 0px;
    color: rgb(36, 62, 99);
    opacity: 0.5;
}

.header__img--wrapper {
    margin-left: 64px;
}

.header__img {
    width: 512px;
}

/* FEATURES */

.features__row {
    display: flex;
    flex-direction: column;
}

.section__tag,
.section__title,
.section__para {
    text-align: center;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
}
.section__title {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0px;
    line-height: 72px;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    max-width: 576px;
}

.features {
    padding: 32px 24px 24px 32px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    height: 213px;
}

